.competences-main {
    display: flex;
    max-width: 1500px;
    margin: 100px auto 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 50px 0;
}

.competences-container {
    height: auto;
    width: 100%;
}

.competences {
    position: relative;
}

.skills-box {
    background-color: #fff;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.55);
    padding: 10px 0;
    height: auto;
    position: relative;
    border-top: 4px solid #ffbb33;
    width: 650px;
    margin-bottom: 60px;
    h4 {
        font-size: 2em;
        text-align: center;
        margin: 0;
        font-weight: 600;
        font-size: 25px;
    }
    .title {
        display: block;
        font-size: 17px;
        font-weight: 600;
    }
    .skill-bar {
        height: 35px;
        background-color: rgb(217, 193, 193);
        margin-top: 7px;
    }
    .skill-per {
        position: relative;
        display: block;
        height: 100%;
        animation: progressSkillBar 3s ease-in-out 0.8s forwards;
        background: #830000;
        ;
    }
    .box {
        margin: 10px 0;
        padding: 0 20px;
    }
}

.skill-per.html,
.css {
    width: 90%;
}

.skill-per.javascript {
    width: 70%;
}

.skill-per.react {
    width: 65%;
}

.skill-per.wordpress {
    width: 50%;
}

.skill-per.nodejs {
    width: 70%;
}

.skill-per.express {
    width: 65%;
}

.skill-per.php {
    width: 30%;
}

.tooltip.front {
    position: absolute;
    left: 150px;
    top: 35px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 15px 100px;
    border-radius: 8px;
    background-color: #680000;
    z-index: 1;
}

.tooltip.back {
    position: absolute;
    left: 150px;
    top: 597px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 15px 100px;
    border-radius: 8px;
    background-color: #680000;
    z-index: 1;
}

.skill-per .tooltip {
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1299px) {
    .competences-main {
        margin-top: 50px;
    }
    .competences {
        width: 100%;
    }
    .skills-box {
        width: 97%;
        margin: 0 auto 50px auto;
    }
}