.contact {
    height: auto;
}

form {
    margin-top: 50px;
}

.contact-container {
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.container-box-un {
    align-items: baseline;
}

.email {
    margin-top: 55px;
}

.name {
    display: flex;
    justify-content: space-between;
}

form input,
textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

input {
    width: 500px;
    padding: 20px 0;
    margin-top: 8px;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
    color: #000;
    font-style: italic;
    padding-left: 5px;
    font-weight: 500;
}

.submit input {
    width: 103px;
    height: 48px;
    margin: 0 auto;
    font-size: 20px;
    justify-content: center;
    background-color: #ffbb33;
    font-weight: 500;
    border: 1px solid black;
    cursor: pointer;
    font-family: "Roboto", 'Times New Roman';
}

textarea {
    width: 500px;
    height: 204px;
    margin-top: 8px;
    margin-left: 20px;
}

label {
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
    display: flex;
}

.colorContactIcon {
    color: #ffbb33;
    padding-right: 10px;
    font-size: 26px;
}

@media screen and (max-width: 1029px) {
    .message-box {
        margin-top: 55px;
    }
    textarea {
        margin-left: 0;
    }
    .box-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1060px) {
    .box-container {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .box-container {
        display: block;
    }
    input,
    textarea {
        width: 98%;
        margin-left: 0;
    }
}