header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
}

h1 {
    text-transform: uppercase;
}

.title-header h1,
h2 {
    color: #fff;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6em;
    font-weight: 500;
    line-height: 1.8;
}

h2 {
    margin-top: 15px;
}

h1 span,
h2 span {
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}

.title-header {
    max-width: 560px;
    height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
}

.container-header {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    padding-top: 0px;
}

.title-header img {
    width: 64px;
    height: 64px;
    margin-top: 70px;
}

.mouse-down {
    position: absolute;
    bottom: 100px;
    font-size: 40px;
    color: #fff;
    animation: slide-top 0.5s ease-in-out infinite alternate;
    cursor: pointer;
}

.mouse-down:hover {
    animation: none;
}

@keyframes slide-top {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 700px) {
    .container-header {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    h1,
    h2 {
        font-size: 24px;
    }
}