.infos {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.container-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.infos-description {
    max-width: 500px;
}

.infos-description h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.infos-description p {
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 500;
}

.infos-picture img {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .container-infos {
        flex-direction: column-reverse;
    }
}