.portfolio-container {
    height: auto;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 0 100px 0;
}

.slick-slide>div {
    margin: 0 30px;
}

.slick-list {
    margin: 0 17px;
}

.portfolio {
    width: 84%;
    margin: 0 auto;
    margin-top: 100px;
}

.portfolio-box {
    cursor: pointer;
}

.overlay-image {
    position: relative;
    width: 100%;
    height: 330px;
}

.overlay-image img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: 50% 0%;
}

.overlay-image .hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay-image .hover:hover {
    opacity: 1;
}

.hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hover h5 {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tags-container {
    text-align: center;
}

.tags {
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
    color: white;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    font-size: 16px;
    color: #fff;
}

///////////////////////////////////////////////////////////////////////
.selected-data-container {
    background-color: #141414;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    animation: slide-right 0.5s forwards;
    padding: 30px;
}

.container-titre-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container-portfolio-infos {
    margin-top: 120px;
}

.title-portfolio {
    text-align: end;
    font-family: "Open sans", sans-serif;
    padding-right: 20px;
    font-size: 34px;
    margin: 0;
}

.container-portfolio-description {
    margin-top: 20px;
}

.description-portfolio {
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 34px;
}

.description-box {
    max-width: 600px;
    margin: 0 auto;
}

.closed-portfolio {
    font-size: 34px;
}

.image-infos-portfolio {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

@keyframes slide-right {
    from {
        transform: scaleX(0.4);
        transform-origin: 100% 0%;
    }
    to {
        transform: scaleX(1);
        transform-origin: 100% 0%;
    }
}

@media screen and (max-width:600px) {
    .portfolio {
        grid-template-columns: repeat(auto-fill, 320px);
    }
}