.progressbar-container {
    width: 100%;
    background-color: black;
    position: fixed;
    height: 7px;
    top: 0;
    left: 0;
    z-index: 1;
}

.progressbar {
    height: 7px;
    background: linear-gradient(90deg, rgb(58, 222, 255) 0%, rgb(28, 125, 235) 33%, rgb(7, 71, 143) 100%);
}