.progressbar-container {
    width: 100%;
    background-color: black;
    position: fixed;
    height: 7px;
    top: 0;
    left: 0;
    z-index: 1;
}

.progressbar {
    height: 5px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(223, 0, 0, 1) 39%, rgba(131, 0, 0, 1) 100%);
    z-index: 888;
}