.soft-skills {
    margin: 20px 0 50px 0;
}

.skills-container {
    max-width: 1500px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-gap: 40px;
    justify-content: center;
}

.skill-box {
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-box:nth-child(4) {
    padding-right: 0;
}

.skill-box img {
    margin: 0;
    width: 150px;
    height: 170px;
}

.skill-box:nth-child(3) img {
    height: 130px;
    margin-top: 40px;
}

.skill-box p {
    max-width: 300px;
}