.cv-container {
    width: 650px;
    height: auto;
    padding: 0;
}

#timeline-main-wrapper,
.timeline-verticalstyles__TimelineVerticalWrapper-sc-1427v1d-0 {
    padding: 0 !important;
}

.rc-card header {
    height: auto;
}

.my-card {
    margin: 0 10px;
    background: none !important;
}

.my-card-title,
.enbUwa {
    font-family: "Poppins", sans-serif;
}

.jrTOtH {
    z-index: 0!important;
}

.PTgig,
.fOkrKD {
    background-color: transparent!important;
}

.gPNbFw,
.UqFpn {
    display: none !important;
}

.button-cv {
    text-align: center;
    width: 200px;
    background-color: #ffbb33;
    padding: 10px;
    margin: 85px auto 0 auto;
    color: #000;
    font-size: 22px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

@media screen and (max-width: 1299px) {
    .cv-container {
        margin: 0 auto;
        width: 700px;
    }
}

@media screen and (max-width: 736px) {
    .cv-container {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .my-card {
        margin: 0;
    }
    .my-card-subtitle {
        font-size: 12px!important;
    }
    .doLIvy {
        padding: 0 10px!important;
        width: auto!important;
    }
    .button-cv {
        margin: 70px auto 20px auto;
    }
}