.cv-container {
    width: 650px;
    height: auto;
    padding: 0;
}

#timeline-main-wrapper,
.timeline-verticalstyles__TimelineVerticalWrapper-sc-1427v1d-0 {
    padding: 0 !important;
}

.rc-card header {
    height: auto;
}

.my-card {
    margin: 0 10px;
    background: none !important;
}

.my-card-title,
.enbUwa {
    font-family: "Poppins", sans-serif;
}

.my-card-subtitle {
    color: #666!important;
}

.jrTOtH {
    z-index: 0!important;
}

.PTgig,
.fOkrKD {
    background-color: transparent!important;
}

.gPNbFw,
.UqFpn {
    display: none !important;
}

@media screen and (max-width: 1299px) {
    .cv-container {
        margin: 0 auto;
        margin-bottom: 80px;
        width: 100%;
    }
}

@media screen and (max-width: 667px) {
    .cv-container {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .my-card {
        margin: 0;
    }
    .my-card-subtitle {
        font-size: 12px!important;
    }
    .doLIvy {
        padding: 0 10px!important;
        width: auto!important;
    }
}