.cv-container {
    width: 650px;
    height: auto;
}

.rc-card header {
    height: auto;
}

.dWNZQD {
    color: #fff!important;
}

.kOGtnG {
    min-height: 0!important;
}

.cEXYPw {
    font-size: 17px!important;
    font-family: "Open Sans", sans-serif!important;
}

.OsryO {
    color: #666!important;
    font-size: 14px!important;
    font-family: "Open Sans", sans-serif!important;
    line-height: 24px!important;
}

.jrTOtH {
    z-index: 0!important;
}

.jMzAUM {
    padding: 0 10px!important;
    margin: 0 10px!important;
}

.iTIEVf:not(.using-icon).active::after {
    background-color: #830000!important;
}

.byRmgc:not(.using-icon).active::after {
    background-color: transparent!important;
}

.dWNZQD.active {
    background-color: transparent!important;
}

.fcvLHB {
    min-height: 0!important;
}

@media screen and (max-width: 1299px) {
    .cv-container {
        margin: 0 auto;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 667px) {
    .cv-container {
        width: 100%;
    }
}