@import './header';
@import "./navbar";
@import './infos';
@import './scrollIndicator';
@import './competences';
@import "./portfolio";
@import './contact';
@import './timeline';
@import './colorMode';
@import "./footer";
//Police
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
}

.light-mode {
    background-color: #f5f6f8;
    color: #322e2b;
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    .navbar.active,
    .container-responsive {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .selected-data-container {
        background-color: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    color: #000;
}

.dark-mode {
    background-color: #0c0c0c;
    color: #fff;
    .navbar.active,
    .container-responsive {
        background-color: #000;
    }
    button {
        color: white;
    }
    .selected-data-container {
        border-left: 1px solid hsl(0deg 0% 100% / 10%);
    }
    .hNseIN {
        color: #fff !important;
    }
}

li {
    list-style-type: none;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    font-weight: 500;
    letter-spacing: 18px;
    font-size: 4.8em;
    max-width: 1050px;
    text-align: center;
    border-bottom: 4px solid #ffbb33;
}

@media screen and (max-width:750px) {
    .container-infos h4 {
        letter-spacing: 5px;
        font-size: 2em;
    }
    h3 {
        font-size: 2em;
        letter-spacing: 5px;
    }
}